#bg-8
{
  visibility: hidden;
  height: 100%;
  width: 100%;
  background-color: antiquewhite;
}
.poem-scene-8{
    visibility: hidden;
}

#poem-scene-8-container {
  display: none;
    position: relative;
    padding-top: 10%;
    padding-bottom: 50%;
    text-align: center;
    z-index: 100;
}

.poem-scene-8 {
    font-family: monospace;
    font-size: 40px;
    line-height: 1.5;
    white-space: pre;
    color: black;
    z-index: 100;
    /* margin-right: 40px; */
}

.poem-scene-8-abs{
    position: absolute;
    font-family: monospace;
    font-size: 40px;
    line-height: 1.5;
    white-space: pre;
    color: black;
    z-index: 100;
  padding: 50px;
}

.poem-scene-8:hover
{
  color: red;
}